<div class="container">
    <h1 class="header">Dashboard</h1>
    <div class="d-flex">
        <div class="flex-grow-1 filter-group">
            <button mat-raised-button [class.btn-active]="isFilterAll" class="" (click)="filter(FilterType.All)">All</button>
            <button mat-raised-button [class.btn-active]="!isFilterAll" (click)="filter(FilterType.ToMe)">Assign to Me</button>
        </div>
        <button mat-raised-button color="primary" (click)="addTask()" type="button">Create</button>
    </div>
    <hr>
    <div class="task-list" [class.no-task]="taskFilteredList.length == 0">
        <div class="" *ngIf="taskFilteredList.length == 0">No Tasks</div>
            <app-task-summary *ngFor="let task of taskFilteredList; let idx = index" [task]="task" [index]="idx"
                (click)="gotoTaskDetail(task)"
            >
                {{task.summary}}
            </app-task-summary>
        </div>
</div>
