.filter-group {
    button {
        margin-left: 5px;
        margin-right: 5px;
    }
}
.task-list {
    border: 1px solid #d1cece;
    min-height: 300px;
    max-height: 600px;
    overflow-y: scroll;
}
.no-task {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    margin-bottom: 50px;
}