.key {
    width: 100px;
}
.summary {
    min-width: 200px;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.header {
    color: #0c5fa4;
    border-bottom: 1px solid #d1cece;
}
.header, .body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.body {
    border-bottom: 1px solid #d1cece;
    cursor: pointer;
    &:hover {
        background-color: #d1cece;
        .summary {
            text-decoration: underline;
        }
    }
}