<div class="container">
    <h1 class="text-center">Welcome to Portal</h1>
    <hr>
    <div class="d-flex justify-content-center align-items-center">
        <form [formGroup]="loginForm">
            <mat-form-field appearance="fill">
				<mat-label>Username</mat-label>
				<input type="text" matInput formControlName="userName">
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Password</mat-label>
				<input type="password" matInput formControlName="password">
			</mat-form-field>
            <div *ngIf="invalidUser" class="d-flex justify-content-center align-items-center">
                Invalid username or password.
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button mat-raised-button color="primary" type="button" (click)="login()" [disabled]="loginForm!.invalid">Login</button>
            </div>
        </form>
    </div>
</div>
